body{
    background-color: #3C2317;
    padding: 0%;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
}nav{
    background-color: #628E90;
    width: 100vw;
    display: block;
    text-align: right;
}
.nav-menu{
    display: inline-block;
    width: 4em;
    padding: 2em;
}
h1{
    color: #829460;
    padding: 1.5em;
}
#squarelamps{
    
    

    
}
.header-section{
    background-color: #90A17D;
    display: inline-block;
    width: 30vw;
    padding: 5vh;
    margin: 7vh 5vw 10vh 5vw;
}
.content-section{
    background-color: #90A17D;
    display: inline-block;
    width: 40vw;
    padding: 5vh;
    margin: 10vh 10vw;
}
img{
    width: 20em;
    height: auto;
}